<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Race</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>All Races</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="race : ${races}">
            <td th:text="${race.raceId}"></td>
            <td th:text="${race.raceName}"</td>
            <td>
                <a th:href="@{/race/{id}(id=${race.raceId})}">View</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/races/create}">
        <button>Add Race</button>
    </a>
</div>
</body>
</html>